<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tiyatro_Otomasyonu.Properties.Settings.Tiyatro_BiletiConnectionString"
            connectionString="Data Source=LAPTOP-FID83MCL;Initial Catalog=Tiyatro_Bileti;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>